<div>
  <a href="{{ .Site.Home.RelPermalink }}">
    {{ with .Site.Params.site_logo }}
      <img src="{{ . }}" alt="{{ $.Site.Title }}" />
    {{ else }}
      {{ .Site.Title }}
    {{ end }}
  </a>
  <div>
    {{ partial "i18nlist.html" . }}
    {{ if .Site.Menus.main }}
      <ul>
        {{ range .Site.Menus.main }}
        <li>
          <a href="{{ .URL }}" title="{{ .Name }} page">
            {{ .Name }}
          </a>
        </li>
        {{ end }}
      </ul>
    {{ end }}
  </div>
</div>
